---
############
# haproxy
haproxy_frontends:
  - name: '{{ haproxy_frontend_name }}'
    ip: '{{ haproxy_frontend_ip }}'
    port: '80'
    ssl_port: '443'
    ssl_pem_file: '{{ haproxy_ssl_pem_file }}'
    vhost: '{{ haproxy_frontend_vhost }}'
    backend: '{{ haproxy_backend_name }}'

haproxy_backends:
 - name: '{{ haproxy_backend_name }}'
   servers: '{{ haproxy_backend_servers }}'

haproxy_ssl_enabled: true

##########
# redis
redis_master_conf: {}
redis_slaves_conf: []

###############
# postgresql
postgresql_mpal_username: mpal
postgresql_mpal_db_name: mpal

##############
# pgbouncer
pgbouncer_listen_ip: "{{ postgresql_master_ip }}"
pgbouncer_listen_port: 6543
pgbouncer_db_host: "{{ postgresql_master_ip }}"
pgboucner_db_port: 5432
pgbouncer_db_name: "{{ postgresql_mpal_db_name }}"

###########
# webapp
webapp_env_var: /var/run/mpal-web
webapp_os_enabled: 'false'
webapp_serve_static_files: true
