---

- name: Create the postgres group
  group:
    name: postgres
    state: present

- name: Create the postgres user
  user:
    name: postgres
    generate_ssh_key: true
    group: postgres
    shell: /bin/bash

- name: Install PostgreSQL, libpq, psycopg2, PostgreSQL client
  apt:
    name: "{{ item }}"
    state: present
  with_items:
    - postgresql-9.4
    - postgresql-client-9.4
    - postgresql-9.4-repmgr
    - repmgr
    - libpq-dev
    - python-psycopg2

- name: Create the MPAL group
  group:
    name: mpal
    state: present

- name: Create the MPAL user
  user:
    name: mpal
    group: mpal
    shell: /bin/bash
