---

- name: Install pgbouncer
  apt:
    name: pgbouncer
    state: present

- name: Create pgbouncer configuration directory
  file:
    path: /etc/pgbouncer
    state: directory
    owner: postgres
    group: postgres
    mode: 0750

- name: Configure pgbouncer
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: postgres
    group: postgres
    mode: 0600
  with_items:
    - src: pgbouncer.ini.j2
      dest: /etc/pgbouncer/pgbouncer.ini
    - src: users.txt.j2
      dest: /etc/pgbouncer/users.txt

- name: Create the pgbouncer log file
  file:
    path: /var/log/pgbouncer.log
    owner: postgres
    group: postgres
    mode: 0640
    state: touch

- name: Create the pgbouncer run directory
  file:
    path: /var/run/pgbouncer
    state: directory
    owner: postgres
    group: postgres
    mode: 0750

- name: Check if pgbouncer is started
  shell: ps afux | grep \"[p]gbouncer\"
  register: pgbouncer_started
  failed_when: false
  changed_when: false

- name: Start pgbouncer
  become: true
  become_user: postgres
  shell: "/usr/sbin/pgbouncer -d /etc/pgbouncer/pgbouncer.ini -R"
  args:
    chdir: /home/postgres
    executable: /bin/bash
  when: pgbouncer_started.rc != 0
