---

- name: Create pgbouncer configuration directory
  file:
    path: /etc/pgbouncer
    state: directory
    owner: postgres
    group: postgres
    mode: 0750

- name: Configure pgbouncer
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: postgres
    group: postgres
    mode: 0600
  with_items:
    - src: pgbouncer.ini.j2
      dest: /etc/pgbouncer/pgbouncer.ini
    - src: users.txt.j2
      dest: /etc/pgbouncer/users.txt
  notify: restart pgbouncer

- name: Create the pgbouncer log file
  file:
    path: /var/log/pgbouncer.log
    owner: postgres
    group: postgres
    mode: 0640
    state: touch

- name: Install pgbouncer
  apt:
    name: pgbouncer
    state: present

- name: Create the pgbouncer run directory
  file:
    path: /var/run/pgbouncer
    state: directory
    owner: postgres
    group: postgres
    mode: 0750

- name: Install systemd unit files
  copy:
    src: pgbouncer.service
    dest: /etc/systemd/system/pgbouncer.service
    mode: 0644

- name: Start pgbouncer
  service:
    name: pgbouncer
    enabled: yes
    daemon_reload: yes
    state: started
