---

- name: Install haproxy
  apt:
    name: haproxy
    state: present

- name: Configures sysctl to enable non-local ip binding (sysctl.conf)
  sysctl:
    name: net.ipv4.ip_nonlocal_bind
    value: 1
    state: present
    reload: yes

- name: Configure haproxy
  template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    owner: haproxy
    group: haproxy
  notify: reload haproxy

- name: Activates haproxy service
  service:
    name: haproxy
    enabled: yes
    state: started
