ADMIN_TOKEN={{ vaulted.admin_token }}
API_BAN_DOMAIN=api-adresse.data.gouv.fr
API_PARTICULIER_DOMAIN=particulier-test.api.gouv.fr
API_PARTICULIER_KEY=test-token
CLAMAV_ENABLED=true
CLAVIS_URL=https://preprod-clavis.anah.fr/clavis/
DEMO=true
DEPARTEMENTS_ENABLED=25,88
DISPLAY_DEMO_CREDENTIALS=false
DOMAIN=anah-dev.beta.gouv.fr
EMAIL_CONTACT=admin@anah.beta.gouv.fr
EMAIL_SUPERVISION=admin@anah.beta.gouv.fr
ENV_NAME=DEV
MAILJET_API_KEY={{ vaulted.mailjet_api_key }}
MAILJET_SECRET_KEY={{ vaulted.mailjet_secret_key }}
NEWRELIC_LICENSE={{ vaulted.newrelic_license }}
NO_REPLY_FROM=admin+noreply@anah.beta.gouv.fr
OPAL_API_BASE_URI=https://gene.anah.gouv.fr/
OPAL_TOKEN={{ vaulted.opal_token }}
OS_API_KEY={{ vaulted.os_api_key }}
OS_AUTH_URL=https://auth.cloud.ovh.net/v2.0/tokens
OS_CONTAINER=anah-test
OS_REGION=GRA1
OS_TENANT_NAME=6898345724930090
OS_USERNAME={{ vaulted.os_username }}
PATH=/home/mpal/.rbenv/bin:/home/mpal/.rbenv/shims:/usr/local/bin:/usr/bin:/bin
PAYMENTS_ENABLED=false
PORT=3000
POSTGRES_HOST=10.0.1.6
POSTGRES_PORT=5432
POSTGRES_DATABASE=mpal
POSTGRES_USERNAME={{ vaulted.postgres_username }}
POSTGRES_PASSWORD={{ vaulted.postgres_password }}
REDIS_HOST=10.0.1.7
REDIS_PORT=6379
ROD_API_BASE_URI=https://mpal-rod.scalingo.io/api/v1/
ROD_API_KEY={{ vaulted.rod_api_key }}
ROD_ENABLED=false
SIDEKIQ_DISABLED=false
SIDEKIQ_PASSWORD={{ vaulted.sidekiq_password }}
SIDEKIQ_USERNAME=anahkiq
USE_HTTPS=true
