[Unit]
Description=MPAL Web Application
Requires=network.target

[Service]
Type=simple
User=mpal
Group=mpal
EnvironmentFile={{ webapp_env_var }}
WorkingDirectory=/home/mpal/mpal-webapp
ExecStartPre=/bin/bash -c -l '/home/mpal/.rbenv/shims/bundle exec rake db:migrate after_party:run RAILS_ENV={{ webapp_rails_env }}'
ExecStart=/bin/bash -c -l '/home/mpal/.rbenv/shims/bundle exec rails server -p $PORT -b 0.0.0.0'
TimeoutSec=180
RestartSec=15s
Restart=always

[Install]
WantedBy=multi-user.target
