ADMIN_TOKEN={{ vaulted.admin_token }}
API_BAN_DOMAIN=api-adresse.data.gouv.fr
API_PARTICULIER_DOMAIN={{ webapp_api_particulier_domain }}
API_PARTICULIER_KEY={{ vaulted.api_particulier_api_key }}
CLAMAV_ENABLED={{ webapp_clamav_enabled }}
CLAVIS_URL={{ webapp_clavis_url }}
DEMO={{ webapp_demo }}
DEPARTEMENTS_ENABLED={{ webapp_enabled_departements }}
DISPLAY_DEMO_CREDENTIALS={{ webapp_display_demo_credentials }}
DOMAIN={{ webapp_domain }}
EMAIL_CONTACT={{ vaulted.email_contact }}
EMAIL_SUPERVISION={{ vaulted.email_supervision }}
ENV_NAME={{ webapp_env_name }}
MAILJET_API_KEY={{ vaulted.mailjet_api_key }}
MAILJET_SECRET_KEY={{ vaulted.mailjet_secret_key }}
NEWRELIC_LICENSE={{ vaulted.newrelic_license }}
NO_REPLY_FROM={{ vaulted.no_reply_from }}
OPAL_API_BASE_URI={{ webapp_opal_api_base_uri }}
OPAL_TOKEN={{ vaulted.opal_token }}
OS_API_KEY={{ vaulted.os_api_key }}
OS_AUTH_URL=https://auth.cloud.ovh.net/v2.0/tokens
OS_CONTAINER=anah-test
OS_REGION=GRA1
OS_TENANT_NAME=6898345724930090
OS_USERNAME={{ vaulted.os_username }}
PATH=/home/mpal/.rbenv/bin:/home/mpal/.rbenv/shims:/usr/local/bin:/usr/bin:/bin
PAYMENTS_ENABLED={{ webapp_payments_enabled }}
PORT=3000
POSTGRES_HOST={{ postgresql_master_ip }}
POSTGRES_PORT={{ postgresql_host_port }}
POSTGRES_DATABASE=mpal
POSTGRES_USERNAME={{ vaulted.postgres_username }}
POSTGRES_PASSWORD={{ vaulted.postgres_password }}
RAILS_ENV={{ webapp_rails_env }}
REDIS_HOST={{ redis_master_conf.ip }}
REDIS_PORT={{ redis_host_port }}
ROD_API_BASE_URI={{ webapp_rod_api_base_uri }}
ROD_API_KEY={{ vaulted.rod_api_key }}
ROD_ENABLED={{ webapp_rod_enabled }}
SIDEKIQ_DISABLED={{ webapp_sidekiq_disabled }}
SIDEKIQ_PASSWORD={{ vaulted.sidekiq_password }}
SIDEKIQ_USERNAME=anahkiq
USE_HTTPS={{ webapp_use_https }}
