---

- name: Install keepalived
  apt:
    name: keepalived
    state: present

- name: Add keepalived group
  group:
    name: keepalived
    state: present

- name: Add keepalived user
  user:
    name: keepalived
    state: present

- name: Confiure keepalived
  template:
    src: keepalived.conf.j2
    dest: /etc/keepalived/keepalived.conf
    owner: keepalived
    group: keepalived
  vars:
    keepalived_instance: "{{ item.keepalived_instance }}"
    keepalived_interface: "{{ item.keepalived_interface }}"
    keepalived_priority: "{{ item.keepalived_priority }}"
  with_items: "{{ keepalived_configurations }}"
  notify: restart keepalived
